h2 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
    font-weight: 600;
}

.cuenta-contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* Añadí un espacio entre los elementos */
    padding: 20px;
}

.lateral {
    flex: 1 1 150px; /* Ajustado para mantener la flexibilidad */
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* Cambié de center a left */
    margin-left: 20px;
    margin-bottom: 20px;
}

.lateral a {
    display: block; /* Para que cada enlace ocupe una línea completa */
    font-weight: bold;
    color: #008CBA;
    text-decoration: none;
    margin-bottom: 10px; /* Espacio entre los enlaces */
    transition: color 0.3s ease;
}

.lateral a:hover {
    color: #005f73;
    text-decoration: underline;
}


.datos {
    flex: 3 1 600px; /* El área de los datos ocupa más espacio */
}

.datos .bloque-datos {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    line-height: 1.8;
    text-align: left;
    transition: all 0.3s ease;
}

.datos .bloque-datos:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

a {
    font-weight: bold;
    color: #008CBA;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #005f73;
    text-decoration: underline;
}