.pro-contenedor {
    display: flex;
}

/* Estilo general para los filtros */

.cont-filtro {
    width: 200px;
}

.filtros {
    padding: 5px;
}

.filtros {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.filtros h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.filtro {
    margin-bottom: 20px;
}

.filtro p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.filtro label {
    font-size: 14px;
    color: #333;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.filtro select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filtro select:focus {
    border-color: #007bff;
    outline: none;
}

.filtro input[type="checkbox"]:focus {
    outline: none;
}

.filtro input[type="checkbox"]:checked {
    background-color: #007bff;
}

.filtro .filtro:last-child {
    margin-bottom: 0;
}

.filtro label:hover {
    color: #007bff;
}

/* Estilo para los labels y checkboxes */
.filtro input[type="checkbox"]:hover {
    cursor: pointer;
}

/* Espaciado entre filtros */
.filtro {
    margin-bottom: 20px;
}

/* Estilo para el contenedor del filtro */


/* Estili contenedor productos */ 

.cont-productos {
    width: calc(100vw - 300px);
    margin-block: 20px;
    margin-inline: 50px;
}

.cont-productos h3 {
    font-size: 33px;
    margin-block: 20px;
}