.pro-contenedor {
    display: flex;
}

/* Estili contenedor productos */ 

.cont-productos {
    width: calc(100vw - 300px);
    margin-block: 20px;
    margin-inline: 50px;
}

.cont-productos h3 {
    font-size: 33px;
    margin-block: 20px;
}